{% extends "base.html" %}

{% block content %}
<script>
    function test() {
        el = document.getElementById("main2")
        el.style.display = 'none';
        el2 = document.getElementById("main1")
        el2.style.display = 'none';
        load = document.getElementById("loading")
        console.log(load)
        load.style.display = 'block'
      }
</script>
<div class="container ">
    <div class="mt-4 mb-4 p-5 bg-dark text-white rounded " id="main1">
        <h1>Wyznacz priorytety dla swojej wycieczki</h1>
        <p>Proszę dostosuj slidery poniżej:</p>
    </div>

    <div class="mt-4 mb-4 p-5 bg-dark text-white rounded" id="loading" style="display: none;">
        <h1>PLanujemy Twoją wycieczkę</h1>
        <p>Proszę czekaj...</p>
    </div>

    <div class="mt-4 mb-4 p-5 text-white rounded" style="background-color: #808080;" id="main2">
        <form class="form-inline" method="POST" action="{{ url_for('ahp') }}">

            <div class="container rounded bg-dark p-2 mb-2 text-white rounded" style="color: black;">
                <div class="col">
                    <div class="row align-items-start">

                        <div class="col text-start">
                            <label for="slider1" class="form-label">Silnie preferuję to</label>
                        </div>

                        <div class="col text-center">
                            <label for="slider1" class="form-label">Równe preferencje</label>
                        </div>

                        <div class="col text-end">
                            <label for="slider1" class="float-right">Silnie preferuje to</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container rounded bg-white p-2 mb-2" style="color: black;">
                <div class="col">
                    <div class="row align-items-start">

                        <div class="col text-start">
                            <label for="slider1" class="form-label">Minimalizacja wydanych pieniędzy</label>
                        </div>

                        <div class="col text-end">
                            <label for="slider1" class="float-right">Dopasowanie do preferencji kategorii</label>
                        </div>
                    </div>
                </div>
                <input id="slider1" type="range" class="form-range" min="1" max="9" step="1" name="money_pref">
            </div>

            <div class="container rounded bg-white p-2 mb-2" style="color: black;">
                <div class="col">
                    <div class="row align-items-start">

                        <div class="col text-start">
                            <label for="slider1" class="form-label">Minimalizacja wydanych pieniędzy</label>
                        </div>

                        <div class="col text-end">
                            <label for="slider1" class="float-right">Wybieranie popularnych atrakcji</label>
                        </div>
                    </div>
                </div>
                <input id="slider1" type="range" class="form-range" min="1" max="9" step="1" name="money_popular">
            </div>

            <div class="container rounded bg-white p-2 mb-2" style="color: black;">
                <div class="col">
                    <div class="row align-items-start">

                        <div class="col text-start">
                            <label for="slider1" class="form-label">Minimalizacja wydanych pieniędzy</label>
                        </div>

                        <div class="col text-end">
                            <label for="slider1" class="float-right">Maksymalizacja zobaczonych atrakcji</label>
                        </div>
                    </div>
                </div>
                <input id="slider1" type="range" class="form-range" min="1" max="9" step="1" name="money_amount">
            </div>

            <div class="container rounded bg-white p-2 mb-2" style="color: black;">
                <div class="col">
                    <div class="row align-items-start">

                        <div class="col text-start">
                            <label for="slider1" class="form-label">Dopasowanie do preferencji kategorii</label>
                        </div>

                        <div class="col text-end">
                            <label for="slider1" class="float-right">Wybieranie popularnych atrakcji</label>
                        </div>
                    </div>
                </div>
                <input id="slider1" type="range" class="form-range" min="1" max="9" step="1" name="pref_popular">
            </div>

            <div class="container rounded bg-white p-2 mb-2" style="color: black;">
                <div class="col">
                    <div class="row align-items-start">

                        <div class="col text-start">
                            <label for="slider1" class="form-label">Dopasowanie do preferencji kategorii</label>
                        </div>

                        <div class="col text-end">
                            <label for="slider1" class="float-right">Maksymalizacja zobaczonych atrakcji</label>
                        </div>
                    </div>
                </div>
                <input id="slider1" type="range" class="form-range" min="1" max="9" step="1" name="pref_amount">
            </div>

            <div class="container rounded bg-white p-2 mb-4" style="color: black;">
                <div class="col">
                    <div class="row align-items-start">

                        <div class="col text-start">
                            <label for="slider1" class="form-label">Wybieranie popularnych atrakcji</label>
                        </div>

                        <div class="col text-end">
                            <label for="slider1" class="float-right">Maksymalizacja zobaczonych atrakcji</label>
                        </div>
                    </div>
                </div>
                <input id="slider1" type="range" class="form-range" min="1" max="9" step="1" name="popular_amount">
            </div>

            <div class="d-grid mt-4">
                <button class="btn text-white" style="background-color: #50C878;" onclick="test()" type="submit" class="btn btn-default">Dalej</button>
            </div>

            <div class="d-grid mb-4 mt-4">
                <a class="btn bg-dark text-white" type="button" href="{{ url_for('remove') }}">Wróć</a>
            </div>
        </form>
    </div>

</div>
{% endblock %}