{% extends "base.html" %}

{% block content %}
<script src="{{url_for('static', filename='table2excel.js')}}"></script>
<div class="container ">
    <div class="mt-4 mb-4 p-5 bg-dark text-white rounded ">
        <h1>Rozwiązania</h1>
        <p>Algorytm wygenerował trzy rozwiązania. Posortowane od najlepszego.</p>
    </div>
    <button id="export" class="btn text-white mb-4" style="background-color: #50C878;" class="btn btn-default">Exportuj do excela</button>
    {% for i in range(solutions|length)%}
        <h3>Rozwiązanie {{i + 1}}</h3>
        <table class="table" id={{i}}>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Atrakcja</th>
                <th scope="col">Czas przyjazdu</th>
                <th scope="col">Czas odjazdu</th>
                <th scope="col">Czas spędzony na atrakcji</th>
                <th scope="col">Koszt</th>
                <th scope="col">Kategoria</th>
            </tr>
            </thead>
            <tbody>
            {% for j in range (solutions[i]["path"]|length)%}
            <tr>
                <th scope="row">{{j}}</th>
                <td>{{solutions[i]["path"][j]}}</td>
                <td>{{solutions[i]["times"][0][j]}}</td>
                <td>{{solutions[i]["times"][1][j]}}</td>
                <td>{{solutions[i]["times"][2][j]}}</td>
                <td>{{solutions[i]["money"][j]}}</td>
                <td>{{solutions[i]["categories"][j]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="map{{i+1}}" class="map mb-4" style="height: 400px;"></div>
      {% endfor %}
<script>
    document.getElementById("export").addEventListener('click', function() {
        el = document.getElementsByTagName('table')
        var table2excel = new Table2Excel();
        table2excel.export(el, fileName="trips")
    })
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<script>
    var map1 = L.map('map1').setView([48.2083537, 16.3725042], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map1);

    L.Routing.control({
        waypoints: [
            {% for cord in solutions.0.cords %}
            L.latLng({{cord.0}}, {{cord.1}}),
            {% endfor %}
        ],
        router: L.Routing.mapbox('pk.eyJ1IjoicGF3cGVsIiwiYSI6ImNsYWt1eTNlczA0MjAzc245bzNoM2hxNTAifQ.2APPGKplEbJHyZGXhbaiZA', {"profile": "mapbox/walking"}),
        routeWhileDragging: false,
    }).addTo(map1);

    var sol1 = {{solutions|tojson}};
    var attr1 = sol1[0].path
    var attr2 = sol1[1].path
    var attr3 = sol1[2].path

    var map2 = L.map('map2').setView([48.2083537, 16.3725042], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map2);

    L.Routing.control({
        waypoints: [
            {% for cord in solutions.1.cords %}
            L.latLng({{cord.0}}, {{cord.1}}),
            {% endfor %}
        ],
        router: L.Routing.mapbox('pk.eyJ1IjoicGF3cGVsIiwiYSI6ImNsYWt1eTNlczA0MjAzc245bzNoM2hxNTAifQ.2APPGKplEbJHyZGXhbaiZA', {"profile": "mapbox/walking"}),
        routeWhileDragging: false
    }).addTo(map2);

    var map3 = L.map('map3').setView([48.2083537, 16.3725042], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map3);

    L.Routing.control({
        waypoints: [
            {% for cord in solutions.2.cords %}
            L.latLng({{cord.0}}, {{cord.1}}),
            {% endfor %}
        ],
        router: L.Routing.mapbox('pk.eyJ1IjoicGF3cGVsIiwiYSI6ImNsYWt1eTNlczA0MjAzc245bzNoM2hxNTAifQ.2APPGKplEbJHyZGXhbaiZA', {"profile": "mapbox/walking"}),
        routeWhileDragging: false
    }).addTo(map3);

    map1.eachLayer(function (layer) {
        if (layer instanceof L.Marker){
            layer.bindPopup(attr1.shift()).openPopup()
        }
    });

    map2.eachLayer(function (layer) {
        if (layer instanceof L.Marker){
            layer.bindPopup(attr2.shift()).openPopup()
        }
    });

    map3.eachLayer(function (layer) {
        if (layer instanceof L.Marker){
            layer.bindPopup(attr3.shift()).openPopup()
        }
    });
</script>
{% endblock %}