{% extends "base.html" %}

{% block content %}
<script src="{{url_for('static', filename='table2excel.js')}}"></script>
<div class="container ">
    <div class="mt-4 mb-4 p-5 bg-dark text-white rounded ">
        <h1>Solutions</h1>
        <p>Algorithm generated 3 solutions. Sorted from best to worst based on your preferences</p>
    </div>
    <button id="export" class="btn text-white mb-4" style="background-color: #50C878;" class="btn btn-default">Export to excel</button>
    {% for i in range(solutions|length)%}
        <h3>Solution {{i + 1}}</h3>
        <table class="table" id={{i}}>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Attraction</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Average Attraction Time</th>
                <th scope="col">Cost</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for j in range (solutions[i]["path"]|length)%}
            <tr>
                <th scope="row">{{j}}</th>
                <td>{{solutions[i]["path"][j]}}</td>
                <td>{{solutions[i]["times"][0][j]}}</td>
                <td>{{solutions[i]["times"][1][j]}}</td>
                <td>{{solutions[i]["times"][2][j]}}</td>
                <td>{{solutions[i]["money"][j]}}</td>
                <td>{{solutions[i]["categories"][j]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      {% endfor %}
<script>
    document.getElementById("export").addEventListener('click', function() {
        el = document.getElementsByTagName('table')
        var table2excel = new Table2Excel();
        table2excel.export(el, fileName="trips")
    })
</script>
<!-- <div id="map" class="map" style="height: 400px;"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<script>
    var map = L.map('map').setView([48.2083537, 16.3725042], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    L.Routing.control({
        waypoints: [
            {% for cord in solutions.0.cords %}
            L.latLng({{cord.0}}, {{cord.1}}),
            {% endfor %}
        ],
        routeWhileDragging: false
    }).addTo(map);
</script> -->
{% endblock %}