{% extends "base.html" %}

{% block content %}
<div class="container ">
    <div class="mt-4 mb-4 p-5 bg-dark text-white rounded ">
        <h1>Podaj proszę swoje preferencje odnośnie kategorii atrakcji!</h1>
        <p>Wybierz dla każdej kategorii odpowiednie wartości.</p>
        <p>Znaczenie:</p>
        <ol>
            <li>Nie jestem zainteresowany</li>
            <li>Średnio zainteresowany</li>
            <li>Nie jestem pewny</li>
            <li>Całkiem zainteresowany</li>
            <li>Bardzo zainteresowany</li>
        </ol>
    </div>

    <form class="form-inline" method="POST" action="{{ url_for('preferences') }}">
        <div class="mt-4 mb-4 p-5 text-white rounded " style="background-color: #808080;">
            <label>Architektura:</label>
            <select class="form-select" aria-label="Default select example" name="architecture">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <label>Koscioly i katedry:</label>
            <select class="form-select" aria-label="Default select example" name="churches">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <label>Muzea:</label>
            <select class="form-select" aria-label="Default select example" name="museums">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <label>Parki i ogrody:</label>
            <select class="form-select" aria-label="Default select example" name="parks">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <label>Rekreacja:</label>
            <select class="form-select" aria-label="Default select example" name="recreation">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <label>Punkty widokowe::</label>
            <select class="form-select" aria-label="Default select example" name="viewpoints">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3 selected>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <div class="d-grid mt-4">
                <button class="btn text-white" style="background-color: #50C878;" type="submit" class="btn btn-default">Dalej</button>
            </div>
            <div class="d-grid mb-4 mt-4">
                <a class="btn bg-dark text-white" type="button" href="{{ url_for('planstart') }}">Wróć</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}